@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<html>
<head>
    <link rel="stylesheet" href="~/lib/notus/src/notus.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="~/lib/notus/src/animate.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="~/css/site.css" media="screen" charset="urf-8" />
</head>
<body>
    <iframe class="bottomRight" id="ytvideo" width="933" height="525"
            src=""
            frameborder="0"
            allow="autoplay;"
            allowfullscreen></iframe>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/hub.js" type="module"></script>
    <script src="~/lib/notus/src/notus.js" type="text/javascript"></script>
</body>
</html>

